body {
  background-color: #9cdbd3;
  margin: 0px;
}

header {
  background-color: #315d75;
  width: 100%;
  height: 117px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

/* Estilos para las pestañas en el encabezado */
.tab-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 10px;
  gap: 1rem;
  position: relative;
}

.tab {
  background-color: #2cb89f;
  width: 180px; /* Ancho fijo para todas las pestañas */
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-right: 200px; /* Espacio entre las pestañas */
  padding: 0 15px; /* Añadido relleno horizontal para espacio interno */
}

.tab:last-child {
  margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

#salud-tab {
  font-size: 24px;
  color: white;
  background-color: transparent;
  margin-top: 1em;
  line-height: 45px;
  margin-right: 1em; /* Reducir el margen derecho */
}

#salud-tab:hover {
  background-color: transparent;
}

.small-tab {
  background-color: #2cb89f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
/* Estilo del menú desplegable de iniciar sesión */
.login-menu {
  position: absolute;
  margin-top: 26vh;
  right: 0px; /* Ajuste para mover el menú a la izquierda */
  display: none;
  background-color: #315d75;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
  width: 280px;
}

#loginTab {
  width: 50px;
  cursor: pointer;
  margin-top: 15px;
  background-color: transparent;
}

.login-menu input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* Nueva sección para la imagen de la lupa y el menú de búsqueda */
.search-section {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

#searchIcon {
  width: 50px;
  cursor: pointer;
  margin-top: 15px;
}
.search-menu {
  position: absolute;
  top: 9.5vh;
  left: -90px; /* Ajuste para mover el menú a la izquierda */
  display: none;
  background-color: #315d75;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
}
#logo {
  width: 9em;
  height: 9em;
  margin-right: 20px;
}

.carousel-container {
  text-align: center; /* Cambiado a center para centrar el contenido */
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  height: 70%;
  width: 70%;
  margin: 0 auto; /* Centra el contenedor */
}

.carousel-img {
  width: 100%; /* Ajuste para que la imagen ocupe todo el ancho del contenedor */
  max-width: 100%;
  height: auto;
  display: none;
  border-radius: 15%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #315d75;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5em;
  z-index: 2;
  transform: translateY(-50%);
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

/* Ajusta el estilo del menú de inicio de sesión */
#loginTab {
  margin-right: auto; /* Mueve el menú de inicio de sesión a la derecha */
}

/* Ajusta el tamaño del texto en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .carousel-caption {
    width: 80%;
    font-size: 18px;
    right: 15px;
  }
}

/* Estilos para el menú de navegación */
/* Estilos para el menú de navegación */
nav {
  background-color: #2cb89f;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white;
}

.nav-link:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #2cb89f;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
}

.nav-dropdown a {
  display: block;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.nav-link a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

/* Estilos para el contenido principal */
main {
  padding: 20px;
  max-width: 1200px; /* O ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenido en pantallas más grandes */
}

/* Estilos para el pie de página */
footer {
  position: fixed;
  bottom: 0;
  background-color: #315d75;
  width: 100%;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  clear: both;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin: 0%;
}

/* Asegurar que el modelo de caja sea border-box para todos los elementos */
* {
  box-sizing: border-box;
}

.accessibility-button {
  background-color: #2cb89f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Ajusta según tu preferencia */
  right: 20px; /* Ajusta según tu preferencia */
  z-index: 1; /* Asegura que esté encima de otros elementos */
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* Estilos para los controles de audio personalizados */
#audioControls {
  display: flex;
  align-items: center;
}

/* Estilos para los botones de control de audio */
button {
  font-size: 1.2em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  color: white; /* Color del texto */
}

button:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra en el texto al pasar el mouse */
}
/* Estilos para los botones de navegación del carrusel */
#previousButton,
#nextButton {
  font-size: 2em; /* Tamaño de la fuente para que la flecha sea más grande */
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  color: white; /* Color del texto */
}

#previousButton:hover,
#nextButton:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra en el texto al pasar el mouse */
}
.image-container-rrss {
  display: flex;
  /* Para distribuir equitativamente el espacio entre las imágenes */
}

.image-link {
  width: 50px; /* Tamaño igual para todas las imágenes */
  height: 50px; /* Tamaño igual para todas las imágenes */
}

.image-link img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor manteniendo su proporción */
}

.footer-links {
  text-align: center; /* Centra los enlaces horizontalmente */
}

.footer-links a {
  color: #ffffff; /* Color del texto de los enlaces */
  text-decoration: none; /* Quita el subrayado de los enlaces */
  margin: 0 10px; /* Ajusta el margen entre los enlaces */
}

.footer-links a:hover {
  text-decoration: underline; /* Subraya los enlaces al pasar el mouse sobre ellos */
}
