body {
  background-color: #9cdbd3;
}

header {
  background-color: #315d75;
  width: 100%;
  height: 117px;
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Estilos para las pestañas en el encabezado */
.tab-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: -35px;
  position: relative;
}

.tab {
  display: inline-block;
  background-color: #2cb89f;
  width: 180px;
  height: 45px;
  margin-right: 35px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  border-radius: 10%;
}

#salud-tab {
  font-size: 24px;
  color: white;
  background-color: transparent;
  margin-top: 1em;
  line-height: 45px;
  margin-right: 1em; /* Reducir el margen derecho */
}

#salud-tab:hover {
  background-color: transparent;
}

.small-tab {
  background-color: #2cb89f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
/* Estilo del menú desplegable de iniciar sesión */
.login-menu {
  position: absolute;
  margin-top: 0vh;
  right: 0;
  display: none;
  background-color: #2cb89f;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
  width: 280px;
}

#loginTab {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 1em;
  margin-right: 1em;
}

.login-menu input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-menu button {
  background-color: #315d75;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Nueva sección para la imagen de la lupa y el menú de búsqueda */
.search-section {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

#searchIcon {
  width: 50px;
  cursor: pointer;
  margin-top: 15px;
}

.search-menu {
  position: absolute;
  top: 9.5vh;
  left: -70px;
  display: none;
  background-color: #2cb89f;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
}
#logo {
  width: 9em;
  height: 9em;
  margin-right: 20px;
}

/* Estilos para el carrusel de imágenes */
.carousel-container {
  text-align: right;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  height: 70%;
  width: 70%;
}
.carousel-img {
  width: 80%;
  max-width: 80%; /* Hace que la imagen no sea más grande que su contenedor */
  height: 80%; /* Se ajusta automáticamente a la proporción original */
  display: none;
  border-radius: 15%;
}

/* Ajusta el estilo del menú de inicio de sesión */
#loginTab {
  margin-right: auto; /* Mueve el menú de inicio de sesión a la derecha */
}

/* Ajusta el tamaño del texto en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .carousel-caption {
    width: 80%;
    font-size: 18px;
    right: 15px;
  }
}

/* Estilos para el menú de navegación */
/* Estilos para el menú de navegación */
nav {
  background-color: #2cb89f;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white;
}

.nav-link:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #2cb89f;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
}

.nav-dropdown a {
  display: block;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.nav-link a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  margin: 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

/* Estilos para el contenido principal */
main {
  padding: 20px;
  max-width: 1200px; /* O ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenido en pantallas más grandes */
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #315d75;
  width: 100%;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  clear: both;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}
.accessibility-button {
  background-color: #2cb89f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px; /* Ajusta según tu preferencia */
  right: 20px; /* Ajusta según tu preferencia */
  z-index: 1; /* Asegura que esté encima de otros elementos */
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

/* Estilos para los controles de audio personalizados */
#audioControls {
  display: flex;
  align-items: center;
}

/* Estilos para los botones de control de audio */
button {
  font-size: 1.2em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0 5px;
  color: white; /* Color del texto */
}

button:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra en el texto al pasar el mouse */
}
