// Definición de variables
$color-primary: #315d75; // Color principal (ej. para el encabezado y enlaces)
$color-secondary: #2cb89f; // Color secundario (ej. para botones)
$color-background: #9cdbd3; // Color de fondo de la página
$color-text: #333; // Color del texto principal
$font-family-base: "Inter", sans-serif; // Fuente base
$color-text-white: white;

@import "header";
@import "footer";
// Estilos generales
body {
    font-family: $font-family-base;
    background-color: $color-background;
    color: $color-primary;

    padding: 0;
}

// Estilos de la sección principal
main {
    padding: 20px;
    text-align: center;
    font-family: $font-family-base;

    .novedades-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .novedad {
        background-color: $color-secondary;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 100px;

        h2 {
            color: $color-primary;
            text-align: center;
            font-family: $font-family-base;
        }

        button {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            background: transparent;
            padding: 0;
            font-size: inherit;
            font-family: inherit;

            &.learn-more {
                width: 12rem;
                height: auto;

                .circle {
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                    position: relative;
                    display: block;
                    margin: 0;
                    width: 3rem;
                    height: 3rem;
                    background: #315d75;
                    border-radius: 1.625rem;

                    .icon {
                        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        background: #fff;

                        &.arrow {
                            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                            left: 0.625rem;
                            width: 1.125rem;
                            height: 0.125rem;
                            background: none;

                            &::before {
                                position: absolute;
                                content: "";
                                top: -0.29rem;
                                right: 0.0625rem;
                                width: 0.625rem;
                                height: 0.625rem;
                                border-top: 0.125rem solid #fff;
                                border-right: 0.125rem solid #fff;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                .button-text {
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0.75rem 0;
                    margin: 0 0 0 1.85rem;
                    color: #315d75;
                    font-weight: 700;
                    line-height: 1.6;
                    text-align: center;
                    text-transform: uppercase;
                }

                &:hover {
                    .circle {
                        width: 100%;

                        .icon.arrow {
                            background: #fff;
                            transform: translate(1rem, 0);
                        }
                    }

                    .button-text {
                        color: #fff;
                    }
                }
            }
        }
    }
}
