header {
  background-color: #315d75;
  width: 100%;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  text-align: right;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente al centro */
}
/* Estilos para las pestañas en el encabezado */
.tab-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.search-icon {
  width: 45px; /* Mismo tamaño que las pestañas */
  height: 45px;
  margin-right: 20px;
}


/* Estilos para las pestañas en el encabezado */
.tab-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.tab {
  display: inline-block;
  background-color: #2cb89f;
  width: 180px;
  height: 45px;
  margin-right: 20px; /* Alinea las pestañas a la derecha */
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin: 0 50px;
}

.small-tab {
  background-color: #2cb89f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

/* Estilo del menú desplegable de iniciar sesión */
.login-menu {
  position: absolute;
  top: 165px;
  right: 0; /* Ajusta la posición a la derecha */
  display: none;
  background-color: #2cb89f;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
  width: 280px;
}
/* Ajusta el estilo del menú de inicio de sesión para moverlo a la derecha y hacia abajo */
#loginTab {
  margin-right: auto; /* Mueve el menú de inicio de sesión a la derecha */
}

/* Estilos para el menú desplegable de iniciar sesión */

.login-menu input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-menu button {
  background-color: #315d75;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Nueva sección para la imagen de la lupa y el menú de búsqueda */
.search-section {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

#searchIcon {
  width: 5vw; /* Utiliza unidades vw para que sea un porcentaje del ancho de la pantalla */
  cursor: pointer;
  margin-top: 15px;
}
.search-menu {
  position: absolute;
  top: 80px; /* Ajusta la posición vertical según sea necesario */
  left: -70px;
  display: none;
  background-color: #2cb89f;
  border: 1px solid #aaaaaa;
  border-radius: 25px;
  padding: 10px;
}
/* Estilos para el carrusel de imágenes */
.carousel-container {
  text-align: right;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.carousel-img {
  width: 100%;
  max-width: 100%; /* Hace que la imagen no sea más grande que su contenedor */
  height: auto; /* Se ajusta automáticamente a la proporción original */
  display: none;
}

/* Ajusta el estilo del menú de inicio de sesión */
#loginTab {
  margin-right: auto; /* Mueve el menú de inicio de sesión a la derecha */
}

.carousel-caption {
  color: rgb(14, 10, 10);

  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 10px;
  font-family: "Inter", sans-serif;
}

/* Estilos para el menú de navegación */
/* Estilos para el menú de navegación */
nav {
  background-color: #2cb89f;
  width: 100%; /* O ajusta según tus necesidades */
  min-width: 200px; /* Establece un ancho mínimo */
  float: none; /* Evita el float para que sea responsive */
  display: flex;
  flex-direction:  row;
  align-items: flex-start;
}


.nav-link {
  position: relative;
}

.nav-link:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #2cb89f;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
}

.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #2cb89f;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  top: 100%;
  left: 0;
}
/* Estilos para las opciones del menú en mayúsculas, en blanco y con la fuente Inter a 24px */
.nav-dropdown a,
.nav-link a {
  text-transform: uppercase;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
/* Estilos para el contenido principal */
main {
  padding: 20px;
  max-width: 1200px; /* O ajusta según tus necesidades */
  margin: 0 auto; /* Centra el contenido en pantallas más grandes */
}

footer {
  background-color: #315d75;
  width: 100%;
  height: auto; /* Cambiado a auto para adaptarse al contenido */
  clear: both;
  text-align: center;
  color: white;
  padding: 20px;
}
/* Estilos para el botón de accesibilidad */
.accessibility-button {
  background-color: #2cb89f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  float: right;
}
