/* Estilos para el encabezado */
header {
    background-color: #315d75;
    width: 100%;
    height: 117px;
    text-align: right;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilos para las pestañas en el encabezado */
.tab-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-right: -35px;
    position: relative;
}

.tab {
    display: inline-block;
    background-color: #2cb89f;
    width: 180px;
    height: 45px;
    margin-right: 35px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    border-radius: 10%;
}

#salud-tab {
    font-size: 24px;
    text-transform: lowercase;
    color: white;
    background-color: transparent;
    margin-top: 1em;
    line-height: 45px;
    margin-right: 12em; /* Reducir el margen derecho */
}

#salud-tab:hover {
    background-color: transparent;
}

.small-tab {
    background-color: #2cb89f;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}
/* Estilo del menú desplegable de iniciar sesión */
.login-menu {
    position: absolute;
    top: 165px;
    right: 0;
    display: none;
    background-color: #2cb89f;
    border: 1px solid #aaaaaa;
    border-radius: 25px;
    padding: 10px;
    width: 280px;
}

#loginTab {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 1em;
    margin-right: 1em;
}

.login-menu input {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login-menu button {
    background-color: #315d75;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Nueva sección para la imagen de la lupa y el menú de búsqueda */
.search-section {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

#searchIcon {
    width: 50px;
    cursor: pointer;
    margin-top: 15px;
}

.search-menu {
    position: absolute;
    top: 80px;
    left: -70px;
    display: none;
    background-color: #2cb89f;
    border: 1px solid #aaaaaa;
    border-radius: 25px;
    padding: 10px;
}

#logo {
    width: 9em;
    height: 9em;
    margin-right: 20px;
}
/* Estilos para el menú de navegación */
nav {
    background-color: #2cb89f;
    width: 310px;
    height: 568px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    position: relative;
    color: white;
}

.nav-link:hover .nav-dropdown {
    display: block;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #2cb89f;
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    left: 0;
}

.nav-dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

/* Estilos para el contenido principal */
main {
    margin-left: 330px;
    padding: 20px;
}

.nav-link a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    position: relative;
}

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    flex: 0 0 calc(33.33% - 10px); /* 33.33% para tres elementos, 10px de espacio entre ellos */
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ajusta según sea necesario */
}

.doctor-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-item:hover .doctor-info {
    opacity: 1;
}

/* Estilos para las flechas de navegación */
.arrow {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #2cb89f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Asegura que esté encima del contenido principal */
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #315d75;
    width: 100%;
    height: auto; /* Cambiado a auto para adaptarse al contenido */
    clear: both;
    text-align: center;
    color: white;
    padding: 20px;
}

.accessibility-button {
    background-color: #2cb89f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
    z-index: 1; /* Asegura que esté encima de otros elementos */
}
