// Definición de variables
$color-primary: #315d75; // Color principal (ej. para el encabezado y enlaces)
$color-secondary: #2cb89f; // Color secundario (ej. para botones)
$color-background: #9cdbd3; // Color de fondo de la página
$color-text: #333; // Color del texto principal
$font-family-base: "Inter", sans-serif; // Fuente base
$color-text-white: white;
$border-radius-large: 25px;

@import "header";
@import "footer";
// Estilos generales
